<head>
  <meta charset="utf-8" />
  <title>RestR - Restaurant Matcher</title>
  <meta
    name="description"
    content="Find a restaurant to enjoy with your friends."
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="RestR - Restaurant Matcher" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://your-domain.com" />
  <meta property="og:image" content="https://your-domain.com/og-image.png" />

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <meta name="theme-color" content="#fafafa" />
</head>
